DJANGO_SETTINGS_MODULE=config.settings

SECRET_KEY='django-insecure-%_2$7n&@jy@gxkoi!w_rqtbll4kq8^i8-orx(331*^e=rt%lz2'
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,web
INTERNAL_API_SECRET=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/0

SQLITE_PATH=/app/data/db.sqlite3

# here you can have your node server address 
# if you are using docker and want to run your node server in local host in your computer leave it as it is
# dont change it to http://localhost:3000
NODE_SERVER_URL=http://host.docker.internal:3000